html {
  font-family: 'Open Sans';
}

* {
  -webkit-transition: all .10s ease-in-out;
  transition: all .10s ease-in-out;
}

.zui-pager {
  margin: 5em;
}
.zui-pager--center {
  text-align: center;
}
.zui-pager--right {
  text-align: right;
}
.zui-pager .btn-group {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.zui-pager .btn-group__item {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 40px;
  float: left;
}
.zui-pager .btn-group__item .btn {
  margin: 0;
  padding: .5em 1em;
  border: 0;
  font-weight: 300;
  background-color: transparent;
  box-shadow: inset 0px -2px 0px 0px #bbb;
  color: #bbb;
}
.zui-pager .btn-group__item .btn:hover {
  box-shadow: inset 0px -4px 0px 0px #bbb;
}
.zui-pager .btn-group__item .current {
  box-shadow: inset 0px -4px 0px 0px #222d32;
  color: #222d32;
  font-weight: bold;
}
.zui-pager .btn-group__item .current:hover {
  box-shadow: inset 0px -4px 0px 0px #222d32;
  cursor: default;
}
.zui-pager .btn[disabled] {
  box-shadow: inset 0px -2px 0px 0px #e6e6e6;
  color: #e6e6e6;
}
.zui-pager .btn[disabled]:hover {
  box-shadow: inset 0px -2px 0px 0px #e6e6e6;
  cursor: default;
}
.zui-pager__input {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
.zui-pager__input > input {
  width: 2em;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0;
  line-height: 1;
}
.zui-pager .i-chevron-left,
.zui-pager .i-chevron-right {
  margin: 15px;
  border-style: solid;
  border-color: #3a3a3a;
  width: 6px;
  height: 6px;
  display: block;
  cursor: pointer;
}
.zui-pager .i-chevron-left {
  border-width: 1px 0 0 1px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.zui-pager .i-chevron-right {
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.i-caret-down {
  border-width: 3px;
  border-style: solid;
  border-color: black transparent transparent transparent;
  position: absolute;
  top: 18px;
  right: 3px;
}

.small .btn {
  position: relative;
  box-shadow: 0 0 0 transparent !important;
  padding-right: 20px !important;
  padding-left: 5px !important;
}
.small span:nth-of-type(1) {
  font-weight: bold;
  color: #739600;
}
.small span:nth-of-type(2) {
  margin: 0 5px;
}
.small .select-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}