<div class="col-lg-3 col-xs-6" style="height: 130px">

  <div href="" class="small-box bg-green">
      
    <div class="dropdown" align="right" style=" width:20%; float: right; margin-top: 5px;margin-right: 10px ; font-size: 18px; line-height: 1.5em;">

      <a href="" style="color:white" data-toggle="dropdown" onmouseover="this.style.color='#DCDCDC';" onmouseout="this.style.color='white'"  class="fa fa-ellipsis-v fa-6" aria-hidden="true" role="button"></a>
      <ul class="dropdown-menu pull-right ">

        <li ng-controller="GetImmobileIdController"><a data-toggle="modal" data-target="#modal_immobile_update" ng-click="getImmobileId(id)" href=""><i class="fa fa-pencil-square-o"></i>
        <spam>Editar<spam></a>
        </li>
      
        <li ng-controller="DeleteImmobileController"><a href="" ng-click="deleteImmobile(id)">
        <i class="fa fa-trash-o"></i><spam style="margin-left:5px;">Excluir</spam></a>
        </li>
      </ul>
    </div>

    <div class="inner" align="left" style="width:80%;">

      <h3 style="font-size:18px; width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
        {{address}}<span style="font-size:11px">/ R${{rentValue}}</span>
      </h3>
      <p style="width: 100%px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{description}}</p>
    </div>

    <div class="icon" align="right" style="margin-right: 15px; margin-top: -5px">
      <i class="fa fa-home"></i>
    </div>
    <a href="" class="small-box-footer" >Mais <i class="fa fa-arrow-circle-right"></i></a>
  </div>
</div>

